<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="text-align: center;">
    <th:block th:each="ad : ${ads}">

        <div class="ad">
            <div th:if="${ad.isOld()}" class="new-position"></div>
            <div class="custom-col-md-4">
                <div class="get-title pos-two" style="position: relative;top: 24px;z-index: 10;">
                    <a target="_blank" th:href="${ad.getUrl().getCurVal()}"><span style="color: #00aaff;" th:text="${ad.getTitle().getCurVal()}" /></a>
                </div>

                <div>
                    <div id="block-border" class='col-md-12' th:classappend="${ad.isSelected()} ? selectedAD : ''">
                        <div id="top_flex">
                            <div class="get-position">
                                # <span th:text="${ad.getPosition().getCurVal()}" />
                                <span th:if="${ad.getPosition().isChange() && ad.getPosition().getStatus() == T(freelance.tracking.dao.entity.Param.Status).DOWN}" class="statUp" th:classappend="${ad.isSelected()} ? displayOn : displayOff"></span>
                                <span th:if="${ad.getPosition().isChange() && ad.getPosition().getStatus() == T(freelance.tracking.dao.entity.Param.Status).UP }" class="statDown" th:classappend="${ad.isSelected()} ? displayOn : displayOff"></span>
                            </div>
                            <div th:id="${ad.getId()}" class="get-id">
                                № <span th:text="${ad.getId()}" />
                            </div>
                        </div>

                        <hr style="margin: 2px 6px;">

                        <div style="display: flex;padding: 5px 0 2px;">
                            <div class="get-price" id="avito_price">
                                <div><span class="label-primary" th:classappend="${ad.getPrice().getCurVal().length() > 10} ? bigPrice : ''" th:text="${ad.getPrice().getCurVal()} + (${ad.getPrice().getCurVal().length() > 10} ? '' : ' ₽')" /></div>
                            </div>
                            <div class="get-stats">
                                <i class="monetization-icon_vas-premium-2" style="background-image: url(https://www.avito.st/s/cc/resources/01896f91cd69.svg);"></i>
                                <span th:text="${ad.getStats().getCurVal()}" />
                                <span th:if="${ad.getStats().isChange() && ad.getStats().getStatus() == T(freelance.tracking.dao.entity.Param.Status).UP}" class="statUp" th:classappend="${ad.isSelected()} ? displayOn : displayOff"></span>
                                <span th:if="${ad.getStats().isChange() && ad.getStats().getStatus() == T(freelance.tracking.dao.entity.Param.Status).DOWN }" class="statDown" th:classappend="${ad.isSelected()} ? displayOn : displayOff"></span>
                            </div>
                            <div class="get-pemium">
                                <i th:if="${ad.getUpped().getCurVal().equals('1')}" title="Поднято" class="monetization-icon_vas-premium" style="background-image: url(https://www.avito.st/s/cc/resources/6cd12a303e93.svg);"></i>
                                <i th:if="${ad.getUpped().getCurVal().equals('0') && ad.getUpped().isChange()}" title="Поднято" class="monetization-icon_vas-premium" th:classappend="${ad.isSelected()} ? displayOn : displayOff" style="background-image: url(https://www.avito.st/s/cc/resources/6cd12a303e93.svg);"><span class="close-premium"></span></i>

                                <i th:if="${ad.getUrgent().getCurVal().equals('1')}" title="Выделено" class="monetization-icon_vas-premium" style="background-image: url(https://www.avito.st/s/cc/resources/979d4e30e97c.svg);"></i>
                                <i th:if="${ad.getUrgent().getCurVal().equals('0') && ad.getUrgent().isChange()}" title="Выделено" class="monetization-icon_vas-premium" th:classappend="${ad.isSelected()} ? displayOn : displayOff" style="background-image: url(https://www.avito.st/s/cc/resources/979d4e30e97c.svg);"><span class="close-premium"></span></i>


                                <i th:if="${ad.getVip().getCurVal().equals('1')}" title="VIP" class="monetization-icon_vas-premium" style="background-image: url(https://www.avito.st/s/cc/resources/c1b36be65aeb.svg);"></i>
                                <i th:if="${ad.getVip().getCurVal().equals('0') && ad.getVip().isChange()}" title="VIP" class="monetization-icon_vas-premium" th:classappend="${ad.isSelected()} ? displayOn : displayOff" style="background-image: url(https://www.avito.st/s/cc/resources/c1b36be65aeb.svg);"><span class="close-premium"></span></i>


                                <i th:if="${ad.getPremium().getCurVal().equals('1')}" title="Премиум" class="monetization-icon_vas-premium" style="background-image: url(https://www.avito.st/s/cc/resources/deebbfdd12dd.svg);"></i>
                                <i th:if="${ad.getPremium().getCurVal().equals('0') && ad.getPremium().isChange()}" title="Премиум" class="monetization-icon_vas-premium" th:classappend="${ad.isSelected()} ? displayOn : displayOff" style="background-image: url(https://www.avito.st/s/cc/resources/deebbfdd12dd.svg);"><span class="close-premium"></span></i>


                                <i th:if="${ad.getXl().getCurVal().equals('1')}" title="XL" class="monetization-icon_vas-premium" style="background-image: url(http://superseller.pro/assets/images/XL-avito.png);"></i>
                                <i th:if="${ad.getXl().getCurVal().equals('0') && ad.getXl().isChange()}" title="XL" class="monetization-icon_vas-premium" th:classappend="${ad.isSelected()} ? displayOn : displayOff" style="background-image: url(http://superseller.pro/assets/images/XL-avito.png);"><span class="close-premium"></span></i>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </th:block>
</div>
</body>
</html>