<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div style="display: inline-block; width: 33%;">
    <canvas id="view"></canvas>
</div>

<div style="display: inline-block; width: 33%;">
    <canvas id="position"></canvas>
</div>

<div style="display: inline-block; width: 33%;">
    <canvas id="price"></canvas>
</div>

<script th:inline="javascript">
    var count = 0;
    var lables = [
        "00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00", "10:00",
        "11:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00"];

    function drawChar() {
        var data = [];
        /*[# th:each="stat : ${stats}"]*/
        data.push({x:/*[[${stat.getTimePos()}]]*/, y:/*[[${stat.getTotalView()}]]*/});
        /*[/]*/
        draw("view", data, "Количество просмотров", "rgb(0, 170, 255)");

        data = [];
        /*[# th:each="stat : ${stats}"]*/
        data.push({x:/*[[${stat.getTimePos()}]]*/, y:/*[[${stat.getPosition()}]]*/});
        /*[/]*/
        drawBar("position", data, "Позиция в выдаче", "rgb(0, 170, 255)");

        data = [];
        /*[# th:each="stat : ${stats}"]*/
        data.push({x:/*[[${stat.getTimePos()}]]*/, y:/*[[${stat.getPrice()}]]*/});
        /*[/]*/
        draw("price", data, "Цена", "rgb(0, 170, 255)");
    }

    function drawBar(chartID, data, title, color) {
        new Chart(document.getElementById(chartID), {
            "type": "bar",
            "data": {
                "labels": lables,
                "datasets": [{
                    "label": title,
                    "data": data,
                    "fill": true,
                    "pointRadius": 4,
                    "borderColor": color,
                    "lineTension": 0.1,
                    "backgroundColor": "rgb(0, 170, 255)"
                }]
            },
            "options": {
                tooltips: {
                    callbacks: {
                        title: function () {
                            return '';
                        },
                        label: function (item, data) {
                            var datasetLabel = data.datasets[item.datasetIndex].label || '';
                            return datasetLabel + ': ' + (60 - +item.yLabel);
                        }
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            callback: function (value, index, values) {
                                var yTitle = 60 - +value;
                                return yTitle % 1 === 0 ? yTitle : '';
                            }
                        }
                    }]
                }
            }
        });
    }

    function draw(chartID, data, title, color) {
        new Chart(document.getElementById(chartID), {
            "type": "line",
            "data": {
                "labels": lables,
                "datasets": [{
                    "label": title,
                    "data": data,
                    "fill": true,
                    "pointRadius": 4,
                    "borderColor": color,
                    "lineTension": 0.1
                }]
            },
            "options": {}
        });
    }
</script>

</body>
</html>